/*Slide in*/
.come-in {
  transform: translateY(450px);
  animation: come-in 1.5s ease forwards;
}
.come-in:nth-child(odd) {
  animation-duration: 1.6s;
}
.already-visible {
  transform: translateY(0);
  animation: none;
}

@keyframes come-in {
  to { transform: translateY(0); }
}

.fade-in{
	opacity: 0;
	-webkit-transition: opacity 2s ease-in;
       -moz-transition: opacity 2s ease-in;
        -ms-transition: opacity 2s ease-in;
         -o-transition: opacity 2s ease-in;
            transition: opacity 2s ease-in;
	
}

.fade-in.load{
	opacity: 1;
}
.highlight {
    background-color: cyan;
    font-weight: bold;
    
}
.grow { transition: all .3s ease-in-out; }
.grow:hover { transform: scale(1.3); }



//.spin{transition: 1s ease;}
//.spin:hover{-webkit-transform: rotate(1turn);}
.spin
{
-webkit-animation: spin1 6s infinite linear;
-moz-animation: spin1 6s infinite linear;
-o-animation: spin1 6s infinite linear;
-ms-animation: spin1 6s infinite linear;
animation: spin1 6s infinite linear;
    display: block;
}
 
@-webkit-keyframes spin1 {
0% { -webkit-transform: rotate(0deg);}
100% { -webkit-transform: rotate(360deg);}
}
@-moz-keyframes spin1 {
0% { -moz-transform: rotate(0deg);}
100% { -moz-transform: rotate(360deg);}
}
@-o-keyframes spin1 {
0% { -o-transform: rotate(0deg);}
100% { -o-transform: rotate(360deg);}
}
@-ms-keyframes spin1 {
0% { -ms-transform: rotate(0deg);}
100% { -ms-transform: rotate(360deg);}
}
@-keyframes spin1 {
0% { transform: rotate(0deg);}
100% { transform: rotate(360deg);}
} 
/*.full-page-animate{
    animation-name: slide;
    animation-duration: 4s;
    animation-timing-function: ease-in;
    animation-delay: .5s;
    animation-iteration-count: 1;
}

@keyframes slide {
  0% { left: 0px; }
  100% { left: 500px; }
}*/

/* FULL PAGE ANIMATE IMAGE
-----------------------------------------------*/
#full-page-animate{
position: absolute;
top: -100px;
left: -500px;
margin-bottom: 50px;
-moz-animation-name: slide;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-out;
    -moz-animation-duration: 2s;
    -moz-transform: scale(1.3);
    -moz-animation-fill-mode: forwards;

    -webkit-animation-name: slide;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-duration: 2s;
    -webkit-transform: scale(1.3);
    -webkit-animation-fill-mode: forwards;

    animation-name: slide;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-duration: 2s;
    animation-fill-mode: forwards;

@media(max-width: 1024px){
top: -100px;
left: -630px;
};

@media(max-width: 768px){
  
};

@media(max-width: 425px){

};

@media(max-width: 375px){

};

}


@-moz-keyframes slide {
    0% {
        -moz-transform: translate(0px, 0px);
    }
    100% {
        -moz-transform: translate(1280px, 250px) scale(1.3);
    }
}
@-webkit-keyframes slide {
    0% {
        -webkit-transform: translate(0px, 0px);
    }
    100% {
        -webkit-transform: translateY(1280px, 250px) scale(1.3);
    }
}
@keyframes slide {
    0% {
        transform: translate(0px, 0px);
    }
    100% {
        transform: translate(1280px, 250px) scale(1.3);
    }
}




.hide-img{
  display: none;
  margin: auto;
  position: relative;
  margin-top: 50px;
}

@media screen and (max-width: 1023px){
.hide-img{
  display: block;
  margin: auto;
  margin-top: 2em;
}
}

//target fade
//////////////////////////////
#wamp{
    position: relative;
    border-top: 105px solid transparent;
    margin-top: -100px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}
#wamp:target{
    background-color: #ffa;
    -webkit-transition: 1s linear;
}

#wamp:before { 
    content: "";
    position: absolute;
    top: -25px;
    left: 0;
    right: 0;

}

//Trail Animation
/////////////////////////////
.start{
  position:absolute;
  width: 5px;
  height: 5px;
  color: red;
  z-index: 9999;
  margin: auto;
  top: -26em;
}