
/**
*Nav Bar Corrections
*/
.navbar-inverse .navbar-nav > li > a {
  color: #d9d2ce;
}
#wrapper > div > div > div.navbar-header > a{
	color: #ffffff;
}
#wrapper > div{
	background-color: #ca0164;
	border-color: #ca0164;
}